.cardProducto {
    width: 20%;
    margin: 4%;
    background-color: hsl(0, 0%, 97%) ;
}

.cardBody {
    background-color: white;
    margin-bottom: 3%;
    text-align: center;
}

img {
    margin-top: 4%;
}

.cardProductos{

    margin-top: 10%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
}

.itemDetail {
    max-width: 650px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.cards {
    
    background-color: hsl(0, 0%, 97%) ;
}   